@import 'normalize/import-now';
@import 'bourbon/bourbon';
@import 'neat/neat';
html {
  background-color: #f6cc30;
  font-family: 'Ubuntu', sans-serif;
}
body {
  @include outer-container;
}
input[type="text"] {
  margin-left: 1%;
  padding: 0.5%;
  font-size: 1.5em;
  width: 50%;
  border: 2px solid #333;
  border-radius: 3px;
}
.hidden {
  display: none;
}
#navbar ul {
  margin: 3% 0 0;
  overflow: hidden;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  float: right;
  width: 400px;
  display: flex;
  justify-content: flex-end;
}
#navbar li {
  display: inline;
  float: right;
  text-align: center;
  border: 2px solid #333;
  margin-right: 7%;
  font-size: 30px;
  border-radius: 3px;
}
#navbar li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #cfa60d;
  color: black;
}
#navbar li a:hover {
  background-color: #333;
  color: white;
}
h1 {
  font-size: 90px;
  color: #2d2d2d;
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 2%;
}
h1::first-letter {
  font-size: 105px;
}
.beer {
  border: 2px solid #333;
  margin: 1.65%;
  height: 180px;
  padding: 0.5%;
  background-color: #4a5535;
  color: white;
  border-radius: 3px;
  @include span-columns(2);
  text-align: center;
  h2 {
    margin: 1%;
  }
}
#searchdiv {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 0.5%;
}
#great {
  @include outer-container;
  box-sizing: border-box;
}
#adding {
  background-color: #7f935b;
  @include span-columns(8);
  @include shift(2);
  border: 2px solid #333;
  border-radius: 3px;
  text-align: center;
  height: 400px;
  font-size: 40px;
  color: white;
  padding-top: 2%;
  margin-top: 2%;
}