<!DOCTYPE html>

<html>

<head>
  <title>SIXER</title>
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">
  <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw=" crossorigin="anonymous"></script>
  <script src="js/app.js"></script>
  <script type="text/template" id="beer-template">

    <div class="beer">
      <h2>
        <%= name %>
      </h2>
      <p>
        <%= brewery %>
      </p>
      <p>
        <%= style %>
      </p>
    </div>

  </script>
</head>

<body>

  <div id="navbar">
    <h1>SIXER</h1>
    <ul>
      <li>
        <a href="index.html" id="home" class="buttons">Home</a>
      </li>
      <li>
        <a href="create.html" id="create" class="buttons">Create</a>
      </li>
    </ul>
  </div>

  <div id="tophalf">
    <div id="first" class="sixpacktop">
      One
    </div>
    <div id="second" class="sixpacktop">
      Two
    </div>
    <div id="third" class="sixpacktop">
      Three
    </div>
  </div>

  <div id="bottomhalf">
    <div id="fourth" class="sixpackbottom">
      Four
    </div>
    <div id="fifth" class="sixpackbottom">
      Five
    </div>
    <div id="sixth" class="sixpackbottom">
      Six
    </div>
  </div>

  <div id="searchdiv">
    <input type="text" id="search-box" placeholder="Beer Search" />
  </div>
  <h3 id="info">Drag a beer from the list below the fill your Sixer!</h3>
  <div id="uno">
    <div id="results">
    </div>
  </div>

</body>

</html>