<!DOCTYPE html>
<html lang="en">
<head>
   <title>Sixer</title>

   <link type="text/css" rel="stylesheet" href="css/style.css">
   <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
   
   <script src="http://underscorejs.org/underscore-min.js"></script>
   
   <script src="js/app.js"></script>
   <script type="text/template" id="beer-template">   
      <h2><%= name %></h2>
      <h4><%= type %></h4>
   </script>
</head>
<body>
   <header>
      <h1>Sixer</h1>
      <div class="logo-wrapper">
         <div id="main-logo"></div>
      </div>
      
      <div class="input-wrapper">
         <!-- text search -->
         <label for="search" class="icon-search"></label>
         <input type="search" id="search" placeholder="There's a brew out there for you...">
         <!-- radio buttons -->
         <label for="radio-ale">Ale</label>
         <input type="radio" id="radio-ale" name="beer-type" value="ale">
         <label for="radio-lager">Lager</label>
         <input type="radio" id="radio-lager" name="beer-type" value="lager">
      </div>
   </header>
   <section id="beer-list">
      
   </section>
</body>
</html>